// multiplies two constants
// From The Elements of Computing Systems, Figure 7.9
function mult 2      // 2 local variables
    push constant 0 // sum=0
    pop local 0
    push argument 1
    pop local 1     // j=y
label loop
    push constant 0
    push local 1
    eq
    if-goto end      // if j=0 goto end
    push local 0
    push argument 0
    add
    pop local 0     // sum=sum+x
    push local 1
    push constant 1
    sub
    pop local 1     // jj-1
    goto loop
label end
    push local 0
    return          // return sum



